<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Cars Online Main Menu</title>
		<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<fieldset  id="group">
	<legend>The Game</legend>
	<a href="game.html"><button>Play Online Cars</button></a>
	</fieldset>
	
	<fieldset id="group">
	<legend>The editor</legend>
	<a href="editor.html"><button>Make a Level</button></a>
	OR
	<form action="editor.html" method="url">
		<p>Load a level : <br/>
		<input type="text" name="level" value="level1.json" id="level"/>
		<input type="submit" value="Valider" class="myButton" />
		</p>
	</form>
	</fieldset>
	
	<footer><p>A game made by Adrien Jarretier and Gomez Guillaume </p></footer>

	<script type="text/javascript">
	$('#submit').click(function () {

        var filename = document.getElementById("level").value;
        document.location.search += "?level" + filename;
        return false;
    });
	</script>

</body>
</html>